/*body font*/
body
{
	font-family: 'Lobster Two', cursive;
}
/*body font*/

/*heading font*/
.heading
{
	text-align:center;
	padding-top:50px;font-size:35;
    color:#448AFF;
	font-family: 'Lobster', cursive;
  color:white;

		text-shadow: 2px 2px 5px red;

}

/*heading font*/

/*the warp wand*/
.wand{

position:relative;
left:1270px;
top:540px;
width:80px;
height:80px;
}
/*the warp wand*/

/*the main bg gif*/
.logo
{
	position : absolute;
}
/*the main bg gif*/

/*main container*/
.Main_Container{
	width:1350px;
	height:3300px;
	/*background-color:#448AFF;*/
	/*background-image:url("http://epicwallpaperz.com/wallpaper-hd/dark-blue-background-On-wallpaper-hd.png");

	background-position:top-left;
	margin-bottom:50px;*/
}
/*main container*/

/*hero section*/
.Hero-section
{
	height:650px;


}
/*hero section*/

/*warp text*/
.text
{
	position:relative;
	left:1200px;
	top:540px;
	color:white;
	font-size:15px;
}
/*warp text*/

/*the about us main container*/
.Archive-Section
{
	width:1350px;
	height:800px;
	background-image:url(../img/bg2.jpg);
	background-attachment: fixed;
	background-blend-mode: exclusion;
}
/*the about us main container*/

/*the about us header*/
.archive-heading
{
	width:1350px;
	height:100px;
	background-color:#448AFF;
	color:#448AFF;

}
/*the about us header*/

/*fontskills*/
.skill-font{
	font-size:30px;
	color:white;
}
/*fontskills*/
/* Skills section */
.SKILLS{
	width:1350px;
	height:800px;
	background-image:url(../img/gif1.gif);
	background-repeat: false;

}
/* Skills section */

/*the arhive gallery*/
.imageGallery
{
	height:500px;

}
/*the arhive gallery*/

/*the gallery border*/
.hotelFrame
{
	border: black 8px outset;
	height:500px;
}
/*the gallery border*/

/* Contact*/
.Contact
{
	width:1350px;
	height:950px;
	background-image:url(../img/gif2.gif);
	background-repeat: false;
	background-size: cover;
}
/* Contact*/

/* White*/
.White
{
	color:white;
}
/* White*/

/* black*/
.Black
{
	color:black;
}
/* black*/

/*Left-div */
.Left-div
{
	width:500px;
	height:350px;
	background-image:url(../img/bg3.jpeg) ;
	float:left;
	background-repeat: false;
}
/*Left-div */

/*Right-div */
.Right-div
{
	width:500px;
	height:350px;
	background-color:yellow;
	float:left;
	color:white;
	background-image:url(../img/bg3.jpeg) ;
		background-repeat: false;
}
/*Right-div */

/*mid*/
.mid
{
	margin-left:180px;
}
/*mid*/

/*footer */
.footer
{
	width:500px;
	height:100px;
	margin-left: 500px;
  margin-top: 50px;

	/*background-color:green;*/

}
/*footer */

/* hey */
.hey
{
	color:white;
	text-shadow: 4px 4px 6px red;
}
/* hey */

/* hey */
.hey1
{
	text-shadow: 2px 2px 5px white;
}
/* hey */

/*maps */
.map{
	width:210px;
	height:130px;
}
/*maps */

/* Social */
.social
{
	width:500px;
	height:10px;
  margin-left: 500px;
	margin-top: 700px;
}
/* Social */

/* media */
.Phone,.facebook,.insta,.gmail,.twi{
	float:left;
	margin-right: 40px;
	width:50px;
	height:50px;
}
/* media */
